[submodule "Telegram/ThirdParty/libprisma"]
	path = Telegram/ThirdParty/libprisma
	url = https://github.com/desktop-app/libprisma.git
[submodule "Telegram/ThirdParty/tgcalls"]
	path = Telegram/ThirdParty/tgcalls
	url = https://github.com/telegramdesktop/tgcalls.git
[submodule "Telegram/ThirdParty/kcoreaddons"]
	path = Telegram/ThirdParty/kcoreaddons
	url = https://github.com/desktop-app/kcoreaddons.git
[submodule "Telegram/ThirdParty/rlottie"]
	path = Telegram/ThirdParty/rlottie
	url = https://github.com/desktop-app/rlottie.git
[submodule "Telegram/ThirdParty/minizip"]
	path = Telegram/ThirdParty/minizip
	url = https://github.com/desktop-app/minizip.git
[submodule "Telegram/ThirdParty/lz4"]
	path = Telegram/ThirdParty/lz4
	url = https://github.com/desktop-app/lz4.git
[submodule "Telegram/ThirdParty/xxHash"]
	path = Telegram/ThirdParty/xxHash
	url = https://github.com/desktop-app/xxHash.git
[submodule "Telegram/ThirdParty/GSL"]
	path = Telegram/ThirdParty/GSL
	url = https://github.com/desktop-app/GSL.git
[submodule "Telegram/ThirdParty/fcitx-qt5"]
	path = Telegram/ThirdParty/fcitx-qt5
	url = https://github.com/desktop-app/fcitx-qt5.git
[submodule "Telegram/ThirdParty/hime-qt5"]
	path = Telegram/ThirdParty/hime-qt5
	url = https://github.com/desktop-app/hime-qt5.git
[submodule "Telegram/ThirdParty/nimf-qt5"]
	path = Telegram/ThirdParty/nimf-qt5
	url = https://github.com/desktop-app/nimf-qt5.git
[submodule "Telegram/ThirdParty/hunspell"]
	path = Telegram/ThirdParty/hunspell
	url = https://github.com/desktop-app/hunspell.git
[submodule "Telegram/ThirdParty/custom-windows-surface"]
	path = Telegram/ThirdParty/custom-windows-surface
	url = https://github.com/desktop-app/custom-windows-surface.git
[submodule "Telegram/ThirdParty/jemalloc"]
	path = Telegram/ThirdParty/jemalloc
	url = https://github.com/desktop-app/jemalloc.git
[submodule "Telegram/ThirdParty/SPMediaKeyTap"]
	path = Telegram/ThirdParty/SPMediaKeyTap
	url = https://github.com/desktop-app/SPMediaKeyTap.git
[submodule "Telegram/ThirdParty/libtgvoip"]
	path = Telegram/ThirdParty/libtgvoip
	url = https://github.com/telegramdesktop/libtgvoip.git
[submodule "Telegram/ThirdParty/expected-lite"]
	path = Telegram/ThirdParty/expected-lite
	url = https://github.com/martinmoene/expected-lite.git